<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.genlab.engagement.poller.twitter.movies</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/anarchistsid/GenLab/scripts/launch_wrapper.sh</string>
        <string>/Users/anarchistsid/.local/bin/uv</string>
        <string>run</string>
        <string>--package</string>
        <string>genlab-core</string>
        <string>python</string>
        <string>scripts/run_engagement_poller.py</string>
        <string>--niche</string>
        <string>movies</string>
        <string>--platform</string>
        <string>twitter</string>
        <string>--user-id</string>
        <!-- TODO: Replace with SpliceReel X/Twitter user ID when provisioned (H5) -->
        <string>SPLICEREEL_TWITTER_USER_ID</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/anarchistsid/GenLab/genlab-core</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>ENGAGEMENT_DISPATCH</key>
        <string>true</string>
        <key>REDIS_HOST</key>
        <string>localhost</string>
        <key>REDIS_PORT</key>
        <string>6379</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/anarchistsid</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/anarchistsid/GenLab/.logs/engagement_poller_twitter_movies.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/anarchistsid/GenLab/.logs/engagement_poller_twitter_movies.log</string>

    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
